[tool.poetry]
name = "fastapi-glogger"
version = "0.2.1"
description = "fastapi gcp log formatting package"
authors = [
  "DelfinaCare <open-source@delfina.com>"
]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
fastapi = { version = ">=0.112.2", optional = true }
google = { version = ">=3.0.0", optional = true }
google-api-core = { version = ">=2.19.2", optional = true }
google-auth = { version = ">=2.34.0", optional = true }
google-cloud-logging = { version = ">=3.11.2", optional = true }
grpc-google-iam-v1 = { version = ">=0.12.7", optional = true }
once-py = { version = ">=0.0.5", optional = true }
protobuf = { version = ">=4.25.4", optional = true }
starlette = { version = ">=0.38.2", optional = true }
starlette-context = { version = ">=0.3.6", optional = true }
typing-extensions = ">=4.12.2"

# Define extras that include optional dependencies
[tool.poetry.extras]
google-stack = ["google", "google-api-core", "google-auth", "google-cloud-logging", "grpc-google-iam-v1"]
fastapi-stack = ["fastapi", "starlette", "starlette-context"]
all = [
    "google", "google-api-core", "google-auth", "google-cloud-logging", "grpc-google-iam-v1",  # google-stack
    "fastapi", "starlette", "starlette-context",  # fastapi-stack
    "once-py", "protobuf", "typing-extensions"
]
# Development dependencies
[tool.poetry.group.dev.dependencies]
deptry = ">=0.20.0"
pre-commit = ">=3.8.0"
mypy = ">=1.11.2"
mypy-extensions = ">=1.0.0"
uvicorn = ">=0.30.6"
annotated-types = ">=0.7.0"
pytest = ">=8.3.2"
httpx = ">=0.27.2"


[tool.mypy]
files = "src"
ignore_missing_imports = true



[tool.semantic_release]
branch= "main"
assets = []
commit_message = "{version}\n\nNew Release"
commit_parser = "angular"
logging_use_named_masks = true
tag_format = "v{version}"
commit_version_number = true

version_variable = [
    "src/fastapi_glogger/__init__.py:__version__"
]
version_toml = [
    "pyproject.toml:tool.poetry.version",
    "pyproject.toml:project.version"
]
version_pattern = [
    "README.md:rev: v{version}",
    "docs/CONTRIBUTING.md:fastapi_glogger, version {version}"
]
major_on_zero = false
upload_to_PyPI = true
upload_to_release = true
build_command = "pip install poetry && poetry build"


[tool.semantic_release.branches.release-action]
match = "main"


[tool.semantic_release.commit_parser_options]
allowed_tags = ["build", "chore", "ci", "docs", "feat", "fix", "perf", "style", "refactor", "test"]
minor_tags = ["feat"]
patch_tags = ["fix", "perf"]

[tool.semantic_release.remote]
name = "origin"
type = "github"
ignore_token_for_push = false

[tool.semantic_release.publish]
dist_glob_patterns = ["dist/*"]
upload_to_vcs_release = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.hatch.build]
include = ["src/*"]


[project]
name = "fastapi-glogger"
version = "0.2.1"
authors = [
  { name = "DelfinaCare", email = "open-source@delfina.com" }
]
description = "fastapi gcp log formatting package"
readme = "README.md"
requires-python = ">=3.11"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]

dependencies = [
  "fastapi>=0.112.2",
  "google>=3.0.0",
  "google-api-core>=2.19.2",
  "google-auth>=2.34.0",
  "google-cloud-logging>=3.11.2",
  "grpc-google-iam-v1>=0.12.7",
  "once-py>=0.0.5",
  "protobuf>=4.25.4",
  "starlette>=0.38.2",
  "starlette-context>=0.3.6",
  "typing-extensions>=4.12.2"
]


[project.urls]
Homepage = "https://github.com/DelfinaCare/starlette-gcp-logs"
Issues = "https://github.com/DelfinaCare/starlette-gcp-logs/issues"
