[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "openbambucommands"
version = "0.3.1"
authors = [
  { name="wolfy", email="wolfy@shitwolfymakes.com" },
]
description = "A package that provides helper functions for generating BambuLabs printer commands"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.optional-dependencies]
dev = [
    "black",
    "docformatter[toml]",
    "flake8",
    "isort",
    "myst-parser",
    "mypy",
    "pre-commit",
    "pytest",
    "pytest-cov",
    "sphinx",
    "sphinx-rtd-theme",
]

[project.urls]
"Homepage" = "https://github.com/shitwolfymakes/openbambucommands"
"Bug Tracker" = "https://github.com/shitwolfymakes/openbambucommands/issues"

[tool.setuptools]
packages = ["openbambucommands"]

[tool.setuptools.package-data]
openbambucommands = ["py.typed"]

[tool.pytest.ini_options]
addopts = "-v"
testpaths = ["tests"]

[tool.mypy]
python_version = "3.8"
exclude = "venv/.*"
strict = true
# Unreachable blocks have been an issue when compiling mypyc, let's try to avoid 'em in the first place.
warn_unreachable = true
implicit_reexport = true
show_error_codes = true
show_column_numbers = true

[tool.docformatter]
recursive = true
wrap-summaries = 88
wrap-descriptions = 88
blank = false
exclude = [
    ".git",
    ".github",
    ".idea",
    ".mypy_cache",
    ".pytest_cache",
    ".run",
    "__pycache__",
    "openbambucommands.egg-info",
    "dist",
    "docs",
    "venv",
]

[tool.isort]
profile = "black"
line_length = 88
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
skip = [
    ".git",
    ".github",
    ".idea",
    ".mypy_cache",
    ".pytest_cache",
    ".run",
    "__pycache__",
    "openbambucommands.egg-info",
    "dist",
    "docs",
    "venv",
]
