body {
    margin: 0;
    background-color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#logview_controls {
    background-color: rgb(145, 145, 145);
    /*width: auto;*/
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
}

#logview_controls h1 {
    font-weight: 900;
    font-family: monospace;
    font-size: 1.2em;
    margin: 0.2em 0;
}

#logview_controls > div {
    display: inline-flex;
}

#logview_controls > div > button {
    display: grid;
    grid-template-columns: 1fr;
    writing-mode: vertical-lr;
}

#logview_controls > div > div {
    display: grid;
    grid-template-columns: 0fr;
    transition: grid-template-columns 0.4s ease-in-out;
}

#logview_controls.collapsed > div > div {
    grid-template-columns: 1fr;
}

#logview_controls > div > div > div {
    overflow: hidden;
}

.hide {
    display: none;
}

/* Hack: make sure the controls dont cover the table when collapsed. TODO: stuff page into a flexbox with a dummy padding element. (table margin wont work since table> viewport width) */
table.logview {
    border-right: 50px solid transparent;
}

/* distribute space */
.logview td {
    width: auto;
    /*    text-wrap: nowrap;*/
    white-space: nowrap;
    vertical-align: top;
}

.logview td:nth-child(7) {
    width: 90%;
}

/* END distribute space */

/* Colorpills on the second column (should propably just generate better markup */
.logview td:nth-child(6) p {
    border-radius: 0.5em;
    border-spacing: 2px;
    margin: 1px;
    text-align: center;
    font-weight: 900;
    padding: 0.05em 0.5em;
}

.logview .loglevel-error td:nth-child(6) p {
    color: rgb(155, 155, 155);
    background-color: var(--error-color);
}

.logview .loglevel-warn td:nth-child(6) p {
    color: rgb(240, 240, 240);
    background-color: var(--warn-color);
}

.logview .loglevel-critical td:nth-child(6) p {
    color: rgb(240, 240, 240);
    background-color: var(--critical-color);
}

/* .logfilter-show {
    background-color: green;
}

.logfilter-hide {
    background-color: red;
}

.logfilter-hide_weak {
    background-color: lightcoral;
}

.logfilter-show_weak {
    background-color: rgb(153, 255, 153);
} */

.logfilter-controls-level {
    padding-left: 15px;
}

.buttonbar {
    display: inline-flex;
    flex-wrap: nowrap;
}

.buttonbar > * {
    margin: 0 4px;
}
